@charset "utf-8";

* {
    margin: 0 auto;
}
body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
.main {
    width: 100%;
    height: 100%;
}
h2 {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flex {
    display: flex;
    /* background-color: aqua; */
    padding-left: 100px;
}
.content img {
    width: 80%;
    padding-top: 20px;
}
.content2 {
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}
#ork {
    width: 50%;
    height: 50%;
    padding-top: 20px;
}
