@charset "utf-8";

* {
    margin: 0 auto;
}
body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
header {
    height: 100px;
    background-color: aqua;
}
nav {
    text-align: right;
}
#search {
    margin: 10px;
    width: 60%;
    float: left;
    /* background-color: aqua; */
}
#submit {
    margin: 8px;
    float: left;
    /* background-color: aqua; */
}
#syousai {
    margin: 10px;
    padding-left: 200px;
    float: left;
}
img {
    width: 100%;
    height: 70%;
}
h2 {
    color: #F00;
    margin-top: 50px;
    margin-left: 20px;
    height: 100px;
}
.flex {
    display: flex;
    /* background-color: aqua; */
    padding-left: 100px;
}
.content img {
    width: 80%;
    padding-top: 20px;
}
.content2 {
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}
#ork {
    width: 50%;
    height: 50%;
    padding-top: 20px;
}
footer {
    margin-top: 100px;
    height: 100px;
    background-color: aqua;
}