@charset "utf-8";

.header-1 {
  box-sizing: border-box;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2em;
}

.logo-img {
  width: 70px;
}

/* @media screen and (max-width: 480px) {
  .header-post {
    display: none;
  }
} */

.pageTitleArea{
  text-align: center;
  margin: 50px auto 40px;
}
.pageTitle{
  font-size: 30px;
  font-weight: lighter;
  color: rgb(35, 35, 35);
}
.pageAbout{
  margin: 20px 0;
}

.contact-table {
  width: 80%;
  margin: 30px auto 20px;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 30%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}

.form-text {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.contact-sex + .contact-sex {
  margin-left: 10px;
}

.contact-sex-txt {
  margin-left: 5px;
}

.form-select {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-skill {
  display: block;
}

.contact-skill + .contact-skill {
  margin-top: 10px;
}

.contact-skill-txt {
  margin-left: 5px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-submit {
  width: 250px;
  background-color: rgb(61, 138, 252);
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto 20px;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
